*.cs linguist-vendored=false
*.xaml linguist-language=Xml linguist-vendored=false

# This is Windows-specific
*.sln text eol=crlf
*.resx linguist-language=Xml eol=crlf
*.csproj text eol=crlf

* linguist-vendored=true
