* linguist-vendored=true

*.cs linguist-vendored=false
*.xaml linguist-vendored=false linguist-language=XML
*.resx linguist-vendored=false linguist-language=XML eol=crlf

# This is Windows-specific
*.sln text eol=crlf
*.csproj text eol=crlf
