* linguist-vendored
*.cs -linguist-vendored linguist-language=C#
*.xaml -linguist-vendored linguist-language=XML
*.resx -linguist-vendored linguist-language=XML eol=crlf

# This is Windows-specific
*.sln text eol=crlf
*.csproj text eol=crlf
